<!-- Registro -->
<h2> Crie sua conta </h2>
<form action="/register" method="post">
    <input type="text" name="username" id="username" placeholder="Digite o nome">
    <input type="date" name="birthday" id="birthday">
    <input type="email" name="email" id="email" placeholder="Digite seu email">
    <input type="password" name="password" id="password" placeholder="Digite sua senha">
    <input type="number" name="media" id="media" placeholder="Digite a média">

    <input type="submit" value="Enviar">
</form>

<style>
    body{
        background-color: black;
    }
</style>