<!-- Login -->
<h2> Faça Login! </h2>
<form action="/login" method="post">
    <input type="email" name="email" id="email" placeholder="Digite seu email">
    <input type="password" name="password" id="password" placeholder="Digite sua senha">

    <input type="submit" value="Enviar">
</form>

<style>
   
</style>